.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-top: 0px;
  margin-bottom: 0px;

  @include for-size(phone) {
    padding-bottom: 30px;
    font-size: 33px;
  }

  @include for-size(desktop) {
    padding-bottom: 50px;
    font-size: 36px;
  }
}
.clients__menu {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.clients__items {
  margin-bottom: 30px;
  margin-right: 0px;
  // margin-left: 0px;

  @include for-size(phone) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 370px) and (max-width: 479px) {
  .clients__items {
    margin-right: 30px;
  }
}

.clients__items:nth-child(2n) {
  @include for-size(phone-only) {
    margin-right: 0px;
  }
  @include for-size(phone) {
    margin-right: 0px;
  }
  @include for-size(tablet) {
    margin-right: 30px;
  }
}

.clients__items:nth-child(3n) {
  @include for-size(tablet) {
    margin-right: 0px;
  }
  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.clients__items:last-child {
  margin-right: 0px;
}
.clients__link {
  width: 170px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include for-size(phone) {
    width: 210px;
    margin-right: auto;
    margin-left: auto;
  }
  @include for-size(tablet) {
    width: 225px;
  }
  @include for-size(desktop) {
    width: 170px;
  }
}

.clients__link:hover {
  border: 1px solid $active-color;
  border-radius: 4px;
}
.clients__link:hover .clients__icon {
  fill: $active-color;
}
.clients__icon {
  fill: #afb1b8;
  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
