.footer {
  width: 100%;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  display: block;
  align-items: center;
  text-align: center;
}
.footer__container {
  @include for-size(desktop) {
    width: 1200px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__navigation {
  margin-bottom: 60px;

  @include for-size(tablet) {
    width: 232px;
    margin-right: 165px;
    margin-left: 61px;
  }
  @include for-size(desktop) {
    margin-right: 93px;
    margin-left: 0px;
  }
}
.footer__tablet {
  @include for-size(tablet) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  @include for-size(desktop) {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.footer__desktop {
  @include for-size(desktop) {
    display: flex;
  }
}
.footer__navigation img {
  margin-left: auto;
  margin-right: auto;

  @include for-size(desktop) {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.footer__address {
  color: $hero-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-top: 20px;

  @include for-size(desktop) {
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.footer__link {
  padding-top: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $footer-color;
}

.footer__social__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $pbutton-color;
  margin-top: 0px;
  margin-bottom: 20px;

  @include for-size(desktop) {
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.footer__social__menu {
  display: flex;
  justify-content: center;
}
.footer__social__items {
  border-radius: 50%;

  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social__items:not(:last-child) {
  margin-right: 10px;
}
.footer__social__items:hover {
  background-color: #2196f3;
}
.footer__social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer__social__svg {
  fill: $pbutton-color;
}
.follow {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  @include for-size(tablet) {
    margin-top: 0px;
  }
  @include for-size(desktop) {
    margin-right: 0px;
  }
}
.follow__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $pbutton-color;
  padding-bottom: 20px;
  margin: 0px;

  @include for-size(desktop) {
    text-align: start;
    display: block;
  }
}
.follow__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow input {
  width: 358px;
  height: 50px;

  align-items: center;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: $text-color;

  @include for-size(phone) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @include for-size(desktop) {
    width: 358px;
    margin-right: 12px;
    margin-left: 0px;
  }
}
.follow__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $hero-color;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(desktop) {
    margin-top: 0px;
  }
}
.follow__button:hover,
.follow__button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.follow__element {
  margin-left: 10px;
  fill: $pbutton-color;
}
