.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 250ms linear 250ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 609px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include for-size(phone) {
    width: 450px;
    height: 609px;
  }

  @include for-size(desktop) {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}
.modal__button:hover,
.modal__button:active {
  fill: #188ce8;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding: 40px;
  width: 400px;
  height: 609px;

  @include for-size(phone) {
    width: 450px;
  }

  @include for-size(desktop) {
    width: 528px;
    height: 581px;
  }
}
.form__title {
  display: flex;
  text-align: center;
  padding-bottom: 12px;
  margin: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.form__container input {
  width: 300px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 35px;

  @include for-size(phone) {
    width: 370px;
  }

  @include for-size(desktop) {
    width: 448px;
  }
}
.form__container input:focus {
  border: 1px solid $active-color;
  outline: 0px;
  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  position: absolute;
  display: inline-block;
  top: 47%;
  left: 15px;
}
.form__input:focus ~ .modal__icon {
  fill: $active-color;

  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__container label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $text-color;
  padding-bottom: 4px;
}
.form__container textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 300px;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  @include for-size(phone) {
    width: 370px;
  }

  @include for-size(desktop) {
    width: 448px;
  }
}
.form__container textarea:focus {
  border: 1px solid $active-color;
  outline: 0px;

  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__container ::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form__container .comment {
  margin-bottom: 20px;
}
.form__policy {
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
}

.form__policy label {
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $text-color;
  cursor: pointer;
}

.form__policy a {
  color: $active-color;
  text-decoration: underline;
}
.checkbox {
  width: 16px;
  height: 15px;
  appearance: none;
  background-image: url(../img/border.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: 0px;
  cursor: pointer;
}

.checkbox:checked {
  background: #2196f3;
  background-image: url(../img/element.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  outline: 0px;
}
.form__button {
  text-align: center;
  width: 100%;
}

.form__button__submit {
  width: 200px;
  height: 50px;
  background: #188ce8;
  color: $pbutton-color;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
