.quality {
  padding-bottom: 0px;

  @include for-size(phone) {
    padding-top: 60px;
  }
  @include for-size(desktop) {
    padding-top: 94px;
  }
}
.quality__div {
  margin: 0px;

  @include for-size(desktop) {
    margin-right: auto;
    margin-left: auto;
  }
}
.quality__menu {
  @include for-size(phone) {
    width: 450px;
  }
  @include for-size(tablet) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.quality__items {
  @include for-size(phone) {
    width: 450px;
    margin-bottom: 30px;
  }
  @include for-size(tablet) {
    margin-right: 30px;
    width: 354px;
  }
  @include for-size(desktop) {
    width: 270px;
    margin-bottom: 0px;
  }
}
.quality__items:nth-child(4n) {
  margin-right: 0px;

  @include for-size(phone) {
    padding-bottom: 30px;
  }
}
.quality__items:nth-child(2n) {
  @include for-size(tablet) {
    margin-right: 0px;
  }
  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.quality__items::before {
  content: '';
  display: block;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  background-color: #f5f4fa;

  @include for-size(phone) {
    width: 450px;
  }
  @include for-size(tablet) {
    width: 354px;
  }
  @include for-size(desktop) {
    width: 270px;
  }
}
.quality__items:nth-child(1)::before {
  background-image: url(../img/antenna1.svg);
  background-size: 70px;
}
.quality__items:nth-child(2)::before {
  background-image: url(../img/clock1.svg);
  background-size: 70px;
}
.quality__items:nth-child(3)::before {
  background-image: url(../img/diagram1.svg);
  background-size: 70px;
}
.quality__items:nth-child(4)::before {
  background-image: url(../img/astronaut1.svg);
  background-size: 70px;
}
.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-color;
  margin-top: 30px;
  margin-bottom: 10px;

  @include for-size(phone) {
    text-align: center;
  }
  @include for-size(tablet) {
    text-align: start;
  }
}

.quality-subtitle {
  color: $text-color;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
}
