.team {
  background: #f5f4fa;
}
.team__div {
  margin: 0px;

  @include for-size(desktop) {
    margin-right: auto;
    margin-left: auto;
  }
}
.team__title {
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;

  @include for-size(phone) {
    width: 480px;
    padding-bottom: 30px;
    font-size: 28px;
  }

  @include for-size(desktop) {
    padding-bottom: 50px;
    font-size: 36px;
  }
}
.team__menu {
  padding: 0px;

  @include for-size(phone) {
    display: block;
    width: 100%;
  }
  @include for-size(tablet) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    justify-content: space-between;
    width: 1200px;
  }
}

.team__items {
  width: calc((100% - 3 * 30px) / 4);
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__items:last-child {
  margin-right: 0px;
}

.team__name {
  color: $main-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.03em;
}
.team__subtitle {
  color: $text-color;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.team__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 0px;
}

.team__social__item:not(:last-child) {
  margin-right: 10px;
}

.team__social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social__link:hover {
  background-color: $active-color;
}
.team__social__link:hover .team__social_icon {
  fill: $pbutton-color;
}

.team__social_icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
